::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background: #717171;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}


.home-container{
    display: flex; 
     position: fixed; 
     height: calc( 100vh - 40px); 
    top: 50px;
    left:0;
background-color: #181818;
z-index: 9;

}
.sidebar{
    padding-top:10px;


    width:240px;
     background-color: #212121;
    overflow-y: scroll;
    color: #fff;
}
.home-content{
    width:calc(100vw - 240px);
    z-index:9;
}

.home-cat-wrapper{
    overflow-x: scroll;
    background-color:#181818 ;
    display: flex;
    padding-left: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
z-index: 9;
}
.home-cat-chip{
    margin:12px 16px;
    background-color: #373737;
  padding: 6px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}

.video-container{
display: grid;
grid-template-columns: repeat(4,1fr);
gap:18px;
padding: 20px 25px;
background-color: #181818;
overflow-y: scroll;
height: calc(100vh - 116px);
}

 @media (max-width:1200px) {
     .sidebar {
        width: 70px;
        
    } 
    .home-container{
     
     height: calc( 100vh - 45px); 
    top:48px;
    


}
     .home-content {
        width: calc(100vw - 70px);
    }
   
} 

@media (max-width:1050px) {
    .video-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:820px) {
    .video-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px) {
    .video-container {
        grid-template-columns: 1fr;
    }
    
 .video-container {
        grid-gap: 10px;
        padding: 10px 50px;
        
    } 
   
}





